.bg-primary {
  background-color: #87b0ce !important;
}

.nav-link {

}

.nav-link:active, :focus, :hover {
  color: black !important;
}

.search-link {
  color:black !important;
}

.btn {
  background-color: #243d78;
  border-color:  #87b0ce;
}

.btn:hover {
  background-color: #87b0ce;
  border-color:  #243d78;
}

.footer {
  display: flex;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100% !important;
  height: 40px;
  text-align: center !important;
  background-color: #87b0ce !important;
}

.copyright {
  margin: auto;
}

.custom-radio {
  display: inline-block;
}
