li {
  list-style-type: none;
}

.bg-primary, .page-footer {
  background-color: #87b0ce !important;
}
.footer-copyright {
  margin:auto;
  font-size: 18px;
}

.container {
  flex: 1 0 auto;
  padding: 20px;
}

.noMarg {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

main {
  flex: 1 0 auto;
}

.auto {
  background-color: white;
}

.btn-large {
  font-weight: bold;
  font-size: 24px;
  background-color: #87b0ce;
}

.btn-large:hover {
  background-color: #90bdde;
}

.waves-effect.waves-test .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(214, 184, 39, 0.65);
}

.red-hr {
  border-top: 1px solid rgba(214, 184, 39, 0.65);
}

.card-title {
  font-weight: bold !important;
}

fieldset {
  border: none;
}

.material-icons.md-18 { font-size: 15px; }
