{% extends 'base.html.twig' %}
{% block body %}
<h4>Modifier une sources</h4>
{{ form_start(formMedia, {'attr': {'id': 'form_media_edit', 'action': path('edit_media', {'id': id}), 'method': 'POST' }}) }}

<button id="" class="btn waves-effect modal-close waves-test waves-light">Sauvegarder</button>
{{ form_end(formMedia) }}
{% endblock %}
