{% extends 'base.html.twig' %}

{% block body %}
<div class="homeBlock">
  <h1>Mimir</h1>

  <hr>

    <form class="homeForm" action="{{path('search')}}" method="post">
      <div class="form-group">
        <div class="input-group mb-3">

        <button type="submit">Rechercher</button>

        </div>
      </div>
    </form>
    <form class="homeForm" action="" method="post">
      <div class="form-group">
        <div class="input-group mb-3">

        <button>Ajouter</button>

        </div>
      </div>
    </form>
    <hr>
</div>



{% endblock %}
