{% extends 'base.html.twig' %}

{% block body %}
<div class="homeBlock">
  <h1>Mimir</h1>

  <hr>

    <form class="homeForm" action="" method="post">
      <div class="form-group">
        <div class="input-group mb-3">
          <select  id="brandSearch" class="form-control search-form"/>
            <option value="0">Choisir une marque</option>
            {% for brand in brands %}
            <option value="{{brand.id}}">{{brand.brandName}}</option>
            {% endfor %}
          </select>
          <input id="searching" class="form-control search-form"/>
          <input type="hidden" id="urlAjax" class="form-control" value="{{path('search')}}"/>
          <div class="input-group-append">
            <select class="custom-select" id="selTest">
              <option value="Modele">Modele</option>
              <option value="Club">Club</option>
              <option value="Event">Event</option>
              <option value="Collector">Collector</option>
              <option value="Designer">Designer</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <hr>
</div>
    <div id='results'>
    </div>


{% endblock %}
