{{ form_start(formContact, {'attr': {'action': path('create_contact'), 'method': 'POST' }} ) }}
<button id="Add2" class="btn waves-effect modal-close waves-test waves-light">Ajouter</button>
{{ form_end(formContact)}}

