<!-- if à ajouter si besoin -->

<div class="card mb-3">

  <h3 class="card-header" >{{ result.contact.name }} {{ result.contact.surName }}</h3>

  <hr class="red-hr">

  {% if result.contact.name %}
    <hr class="red-hr">
    <div class="card-body">
      <h5 class="card-title">Modèles : </h5>
      {% for modele in result.modeles %}
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ modele.modele}}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}
</div>
