
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"><a class='search-link' href="{{path('home')}}" > {{ result.eventName }} </a></div>
    <div class="card-body">
      <h4 class="card-title">{{ result.eventName }}</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>{{type}}</p>
    </div>
  </div>
