<div class="input-field col s12">
  <select id="testInTest">
    <option value="0" disabled selected >Choisir un designer</option>
    {% for designer in results %}
    <option value="{{designer.id}}">{{ designer.surname}} {{ designer.name}}</option>
    {% endfor %}
  </select>
  <label>Designers</label>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('select').formSelect();
});
</script>
