  <select>
    <option value="0">Choisir une option</option>
    {% for designer in results %}
    <option value="{{designer.id}}">{{ designer.name}} {{ designer.surName}}</option>
    {% endfor %}
  </select>
